<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi Tic-Tac</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>
<body>
<div class="profile">P</div>
<div class="login">login</div>
<div class="player one">
    <div class="result"> 1.5 </div>
    <div class="name"> player 1</div>
</div>
<div class="board">
    <div id="0" class="square top left" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
    <div id="1" class="square top" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
    <div id="2" class="square top right" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
    <div id="3" class="square left" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
    <div id="4" class="square" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
    <div id="5" class="square right" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
    <div id="6" class="square bottom left" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
    <div id="7" class="square bottom" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
    <div id="8" class="square bottom right" hx-get="/update-content" hx-trigger="click" hx-target=".board">
        <div class="xo"></div>
    </div>
</div>
<div class="player two">
    <div class="result"> 0.5 </div>
    <div class="name"> player 2</div>
</div>
</body>
</html>