@media (max-width: 600px) {
    .player.one{
        margin-right: 0;
        margin-top: 10px;
    }
    .player.two{
        margin-left: 0 !important;
        margin-top: 0px;
    }
    .container{
        flex-direction: column;
    }
    .container .board{
        padding-top: 10px;
    }
}
body{
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile{
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
}
.clientId{
    position: absolute;
    cursor: pointer;
    display: flex;
    top: 17px;
    right: 15px;
    width: 70px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.profile:hover{
    background-color: white;
    color: black;
}
.board{
    width: 390px;
    height: 390px;
    position: relative;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.xo{
    width: 90%;
    height: 90%;
    font-size: 150px;
    font-family: C059, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;
    animation: pop 0.2s ease-in-out;
}
@keyframes pop {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.xo.blink{
    animation: winning 0.3s steps(2, jump-none);
    animation-iteration-count: 3;
}
@keyframes winning {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
input{
    max-width: 100px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10%;
}
.btn{
    max-height: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    transition: 0.1s;
}
.btn:hover{
    background-color: white;
    color: black;
}
.result{
    max-width: 100%;
    height: auto;
    font-size: 36px;
}
.name{
    margin-top: 20px;
    text-align: center;
}
.player{
    height: 200px;
    width: 200px;
    margin-right: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player.two{
    margin-left: 100px;
    margin-right: 0;
}
.square{
    float: left;
    cursor: pointer;
    width: 126px;
    height: 126px;
    background-color: #000;
    border: 2px solid #cacaca;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square.top{
    border-top: black;
}
.square.bottom{
    border-bottom: black;
}
.square.left{
    border-left: black;
}
.square.right{
    border-right: black;
}